@font-face {
  font-family: "Clear Sans";
  src: url('clear-sans.ttf') format('truetype');
}

.board {
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #baa;
  border-radius: 7px;
  outline: none;
}

.board .cell {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.cell {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
}

.cell0 {
  background-color: #dcb;
}

.cell2 {
  background-color: #eee;
}

.cell4 {
  background-color: #eec;
}

.cell8 {
  color: #ffe;
  background-color: #fb8;
}

.cell16 {
  color: #ffe;
  background-color: #f96;
}

.cell32 {
  color: #ffe;
  background-color: #f75;
}

.cell64 {
  color: #ffe;
  background-color: #f53;
}

.cell128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.cell256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.cell512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.cell1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.cell2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}
