.position_0_0 {
  top: 5;
  left: 5; }

.position_0_1 {
  top: 5;
  left: 115; }

.position_0_2 {
  top: 5;
  left: 225; }

.position_0_3 {
  top: 5;
  left: 335; }

.position_1_0 {
  top: 115;
  left: 5; }

.position_1_1 {
  top: 115;
  left: 115; }

.position_1_2 {
  top: 115;
  left: 225; }

.position_1_3 {
  top: 115;
  left: 335; }

.position_2_0 {
  top: 225;
  left: 5; }

.position_2_1 {
  top: 225;
  left: 115; }

.position_2_2 {
  top: 225;
  left: 225; }

.position_2_3 {
  top: 225;
  left: 335; }

.position_3_0 {
  top: 335;
  left: 5; }

.position_3_1 {
  top: 335;
  left: 115; }

.position_3_2 {
  top: 335;
  left: 225; }

.position_3_3 {
  top: 335;
  left: 335; }
